.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form-stack {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 400px;
}

mat-form-field {
  width: 100%;
}
