<div class="homepage-container">
  <h1 class="homepage-title">Welcome to My Health Tracker</h1>
  <p class="homepage-subtitle">Track your health and wellness with ease.</p>

  <div class="homepage-description">
    <p>
      My Health Tracker is your personal assistant for monitoring and improving your health.
      With a user-friendly interface, you can log various health metrics, such as mood, sleep hours, and anxiety levels.
      Our advanced analytics provide you with valuable insights and trends over time, helping you make informed decisions about your well-being.
    </p>

  </div>

  <div class="login-container">
    <app-login></app-login>
  </div>
</div>
